.hero-section {
  display: flex;
  padding: 0 2rem;
  background-color: #f0e4d8;
  width: 100%;
  animation: appear 1s ease-out forwards;
}

.image {
  padding: 0 3rem 0 3rem;
  margin: 2rem 0;
  max-width: 50rem;
}

.image img {
  width: 100%;
}

.info {
  padding-left: 4rem;
  display: grid;
  margin: 1rem 2rem;
  border-left: 5px solid #eb473f;
  align-content: center;
  justify-items: start;
}

.info-item {
  margin: 0.7rem 0;
  display: flex;
}

.info-item p {
  text-align: left;
}

.icon {
  padding-right: 10px;
  color: #eb473f;
}

.stars {
  padding-left: 1.2rem;
}

.button-text {
  padding-left: 0.5rem;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    padding: 0;
  }

  .carousel {
    border: none;
  }

  .carousel,
  .info {
    padding: 1rem;
    width: 100%;
  }

  .info {
    justify-items: center;
    margin: 0;
    border: none;
  }

  .stars {
    padding: 0;
  }
}
