.main {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../images/Sprinkle.svg);
  background-size: 130%;
}
.form {
  width: 35%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
  gap: 20px;
  background-color: white;
  border-radius: 20px;
  background-color: #fdf0e1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.formActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.formActions button {
  width: 100%;
  padding: 8px 0;
  margin-top: 0.5rem;
  background-color: #f25c54;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  color: white;
}
.loginLink {
  text-decoration: none;
  margin-top: 1rem;
  color: #1d458a;
}
.formEmailInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.formEmailInput input {
  width: 100%;
  padding: 8px 0;
  margin-top: 0.5rem;
  border: 1px solid #1d458a;
  border-radius: 10px;
  font-size: 14px;
  padding-left: 0.5rem;
}
.formEmailInput label {
  align-self: flex-start;
  font-weight: bold;
}

/* Mobile View */
@media screen and (max-width: 800px) {
  .form {
    width: 70%;
  }
}
